<!DOCTYPE html>
<html>
<!--shift+alt+F ile kod düzenleme yapabilirsin-->
<!--EJS language support extension indirmeden < % bu yapıyı kullanamıyorsun -->

<head>
    <title>
        <%=title%>
    </title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!--Bootstrap Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--Bootstrap Js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
        </script>

    <!-- font-awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="player" id="ap">
        <div class="player_body">
            <div class="hamburger-menu">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <!--==============================================================================================-->
            <div class="nav_menu" id="navMenu">
                <div class="nav_list">

                    <div class="nav_item">
                        <p>Eğer aşkı seversen cân olasın:</p>
                        <a href="https://umutrehberi.com/" target="_blank">Umut Rehberi</a>
                    </div>
                    <div class="nav_item">
                        <p>Kuş Dili:</p>
                        <a href="https://open.spotify.com/show/0aZrN5YZMMTdMohk5xHk3F" target="_blank">Spotify</a>
                    </div>
                    <div class="nav_item">
                        <p>Web:</p>
                        <a href="http://www.atesiask.com/" target="_blank">Ateş-i Aşk</a>
                    </div>
                    <div class="nav_item">
                        <p>Android App:</p>
                        <a href="https://play.google.com/store/apps/details?id=com.ea.atesi_ask"
                            target="_blank">Mobil</a>
                    </div>
                    <div class="nav_item">
                        <p>Developed by:</p>
                        <a href="#">Aşk</a>
                    </div>
                </div>
            </div>
            <!--==============================================================================================-->
            <div class="player_fade"></div>
            <div class="player_header">
                <div>
                    <div class="te" style="display: flex; flex-flow: row wrap; justify-content: space-around;">
                        <div class="col text-center">
                            <div class="back_btn"><i class="fa-solid fa-list-check"></i></div>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <div class="header_name text-center">
                                <span>Âteş-i Aşk</span>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ilkalan" class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="player_content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="player_img d-flex justify-content-center align-items-center">
                                    <div id="resim" class="resim-sever"></div>
                                    <div class="marquee_div">
                                        <marquee class="marquee" behavior="scroll" direction="left" scrollamount="1">Aşk
                                            Olsun
                                        </marquee>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="timeline_wrap">
                                    <div class="time_of_song">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col "><span class="current-time"
                                                        style="float:left;">00:00</span>
                                                </div>
                                                <div class="col-6 text-center">
                                                    <div><span class="track-name"></span></div>
                                                    <div><span class="track-artist"></span></div>
                                                </div>
                                                <div class="col "><span class="total-duration"
                                                        style="float:right;">00:00</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="seek_background" onclick='seekTo(event)'>
                                        <div class="seek">
                                            <div class="seek_circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="share">
                                    <div class="row mt-1">
                                        <div class="col">
                                            <label id="label_share" style="width:100%;color:white;font-weight:400"
                                                class="text-center">Paylaşım Bağlantısı<i class="fa-solid fa-xmark"
                                                    onclick="paylasim_sirla()"
                                                    style="float:right;margin-right:20px;"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <input value="Hello" id="share" style="width:100%;color:black"
                                        class="text-center ml-1 mr-1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="player_btns"
                                    style="display:flex;flex-flow: row wrap;justify-content:space-around">
                                    <div class="random_btn text-center" id="random"><i class="fa-solid fa-shuffle"></i>
                                    </div>
                                    <div class="prev_btn text-center" onclick="prevTrack()"><i
                                            class="fa-solid fa-backward"></i>
                                    </div>
                                    <div class="play_btn text-center" onclick="playpauseTrack()"><i
                                            class="fa-solid fa-play"></i></div>
                                    <div class="next_btn text-center" onclick="nextTrack()"><i
                                            class="fa-solid fa-forward"></i>
                                    </div>
                                    <div class="send_btn text-center" id="send"><i class="fa-solid fa-paper-plane"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="ikincialan" class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="row" style="margin-right:20px;">
                        <div class="player_playlist">
                            <div class="mt-1"><input id="bul" class="bul text-center" type="text"
                                    placeholder="Listede Bul"></div>
                            <ul id="plList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>

    <!--===============================================-->
    <p hidden id=xml_listesi>
        <%= JSON.stringify(xml_listesi) %>
    </p>
    <p hidden id=nukte_listesi>
        <%= JSON.stringify(nukte_listesi) %>
    </p>
    <p hidden id=fotograf_listesi>
        <%= JSON.stringify(fotograf_listesi) %>
    </p>
    <!--==============================================================================================-->
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script>
        console.log("height --> ", $('body').css('height'));
        console.log("width --> ", $('body').css('width'));

        var resimyuksekligi = (parseInt($('body').css('height'))) / 2;
        //console.log("resimyuksekligi --> ", resimyuksekligi);

        $('.share').hide();

        function ui(H, W) {
            $('.player_header').css('height', parseInt(parseInt(H) * 0.08) + "px");
            //$('.player_content').css('height', parseInt(parseInt(H) * 0.92) + "px");
            $('.player_img').css('height', parseInt(parseInt(H) * 0.65) + "px");
            $('.player_img').css('max-height', parseInt(parseInt(H) * 0.65) + "px");

            $('.timeline_wrap').css('height', parseInt(parseInt(H) * 0.15) + "px");
            $('.share').css('height', parseInt(parseInt(H) * 0.15) + "px");
            $('.player_btns').css('height', parseInt(parseInt(H) * 0.5) + "px");
            $('.player_playlist').css('height', parseInt(parseInt(H) * 0.90) + "px");
        }

        window.addEventListener('resize', function (event) {
            ui($('body').css('height'), $('body').css('width'));
            konsola_yaz("resize", "detect-resize")
        }, true);

        $(window).on('load', function () { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website.
            ui($('body').css('height'), $('body').css('width'));
            $('#sharePopup').modal();
        });

        var listen_index = 0;
        var track_index = 0;
        var share_index = 0;
        var isPlaying = false;
        var next_type = 0; //0 karışık, 1 sıra ile, 2 tekrarlı
        var updateTimer;

        // Create new audio element
        var curr_track = document.createElement('audio');
        var playpause_btn = document.querySelector(".playpause-track");

        // resimlerin listesi
        var list_images = new Array();
        list_images = JSON.parse(document.getElementById('fotograf_listesi').innerText) // Get element text that has locals, then parse it
        document.getElementById('fotograf_listesi').innerText = '' // Remove the text (So we don't have a random element with the locals
        konsola_yaz("list_images", list_images.length);

        //Nukte Listesi
        var list_nukte = new Array();
        list_nukte = JSON.parse(document.getElementById('nukte_listesi').innerText) // Get element text that has locals, then parse it
        document.getElementById('nukte_listesi').innerText = '' // Remove the text (So we don't have a random element with the locals
        konsola_yaz("list_nukte", list_nukte.length);

        // parça listesi
        var track_list = new Array();
        track_list = JSON.parse(document.getElementById('xml_listesi').innerText) // Get element text that has locals, then parse it
        document.getElementById('xml_listesi').innerText = '' // Remove the text (So we don't have a random element with the locals
        konsola_yaz("track_list", track_list.length);

        // dinlenmiş parça listesi
        var track_list_before = new Array(); //önceki parça için bir sayı tutuyor
        //----------------------
        var bul = document.getElementById('bul');
        bul.onkeyup = function () {
            var filter = bul.value.toLowerCase();//.toUpperCase();
            var lis = document.getElementsByTagName('li');
            for (var i = 0; i < lis.length; i++) {
                var parcaisim = lis[i].querySelector('.plItem .plTitle').innerHTML;
                var parcases = lis[i].querySelector('.plItem .plLength').innerHTML;
                var ara = parcaisim + parcases;
                if (degistir(ara.toLowerCase()).includes(degistir(filter))) lis[i].style.display = 'list-item';
                else lis[i].style.display = 'none';
            }
            function degistir(ara) { //aramayı kolaylaştıralım
                ara = ara.replace(/\s/g, ''); //boşlukları sil
                ara = ara.replace(/â/g, 'a');
                ara = ara.replace(/ş/g, 's');
                ara = ara.replace(/ö/g, 'o');
                ara = ara.replace(/ü/g, 'u');
                ara = ara.replace(/ı/g, 'i');
                ara = ara.replace(/ç/g, 'c');
                ara = ara.replace(/ğ/g, 'g');
                return ara;
            }
        }
        $('.random_btn').click(function () {
            mixTrack();
        });
        $('.send_btn').click(function () {
            share_index = track_list.length - track_index - 1;
            console.log(track_list.length, track_index, share_index);
            console.log("Paylaşılan; " + "https://atesiask.netlify.app/?catid=9&trackid=" + share_index);
            var text = "https://atesiask.netlify.app/?catid=9&trackid=" + share_index;
            Copy(text);
        });
        function paylasim_sirla() {
            $('.share').hide();
            $('.timeline_wrap').show();
        }
        $('.back_btn').click(function () {
            console.log("back button click");
            if ($("#ilkalan").is(":hidden")) {
                $("#ilkalan").show();
            } else $("#ilkalan").hide();
            // if ($("#ilkalan").attr("class") == "col-sm-12") {
            //     $("#ilkalan").attr("class", "col-sm-7");
            //     $("#ikincialan").attr("class", "col-sm-5");
            // } else {
            //     $("#ilkalan").attr("class", "col-sm-12");
            //     $("#ikincialan").attr("class", "col-sm-12");
            // }
        });
        $('.hamburger-menu').click(function () {
            $('.bar').toggleClass('animate');
            $('.hamburger-menu').toggleClass('slide');
            $('.back_btn').toggleClass('slide');
            $('.nav_menu').toggleClass('open');
            $('.player_fade').toggleClass('player_fade_on');
        });
        $('.player_fade').click(function () {
            $('.bar').toggleClass('animate');
            $('.hamburger-menu').toggleClass('slide');
            $('.back_btn').toggleClass('slide');
            $('.nav_menu').toggleClass('open');
            $('.player_fade').toggleClass('player_fade_on');
        });
        curr_track.onended = function () {
            nextTrack();
        };
        curr_track.onplaying = function () {
            $('.play_btn').html('<i class="fa-solid fa-pause"></i>');

            console.log("onplaying");
        }
        curr_track.onpause = function () {
            $('.play_btn').html('<i class="fa-solid fa-play"></i>');
            console.log("onpause");

        }
        curr_track.onloadeddata = function () {
            console.log("track load complate");
        }
        function updateMetadata() {
            navigator.mediaSession.metadata = new window.MediaMetadata({
                title: curr_track.title,
                artist: curr_track.artist,
                artwork: [
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '96x96', type: 'image/jpg' },
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '128x128', type: 'image/jpg' },
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '192x192', type: 'image/jpg' },
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '256x256', type: 'image/jpg' },
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '384x384', type: 'image/jpg' },
                    { src: 'https://raw.githubusercontent.com/emreaksel/askatesi/main/logo_siyahfon.jpg', sizes: '512x512', type: 'image/jpg' },
                ]
            });
            /* Previous Track & Next Track */
            navigator.mediaSession.setActionHandler('previoustrack', function () {
                prevTrack();
            });
            navigator.mediaSession.setActionHandler('nexttrack', function () {
                nextTrack();
            });
            /* Play & Pause */
            navigator.mediaSession.setActionHandler('play', async function () {
                await playTrack();
                // Do something more than just playing audio...
            });
            navigator.mediaSession.setActionHandler('pause', function () {
                pauseTrack();
                // Do something more than just pausing audio...
            });
            navigator.mediaSession.setActionHandler('stop', null);

            // Media is loaded, set the duration.
            updatePositionState();
        }
        /* Position state (supported since Chrome 81) */
        function updatePositionState() {
            // Reset position state when media is reset.
            navigator.mediaSession.setPositionState(null);

            if ('setPositionState' in navigator.mediaSession) {
                navigator.mediaSession.setPositionState({
                    duration: curr_track.duration || 0,
                    playbackRate: curr_track.playbackRate,
                    position: curr_track.currentTime
                });
            }
        }
        function Copy(text) {
            $('#share').val(text);
            var copyText = document.getElementById("share");
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
            //alert("Paylaşım Bağlantısı Kopyalandı");
            console.log("Paylaşılan; " + $('.share').is(":visible"));
            $('.share').show();
            $('.timeline_wrap').hide();

        }
        function playpauseTrack() {
            if (!isPlaying) playTrack();
            else pauseTrack();
        }
        function playTrack() {
            curr_track.play().then(() => {
                updateMetadata();
                isPlaying = true;
            });
        }
        function pauseTrack() {
            curr_track.pause().then(() => {
                updateMetadata();
                isPlaying = false;
            });
        }
        function prevTrack() {
            if (listen_index > 0) {
                curr_track.pause();
                listen_index--;
                loadTrack(track_list_before[listen_index - 1]);
                setNukte();
                setImage();
                playTrack();
            }
        }
        function nextTrack() {
            if (next_type == 0) { //karışık
                track_index = Math.floor(Math.random() * track_list.length);
            }
            else if (next_type == 1) {
                if (track_index < track_list.length - 1)
                    track_index += 1;
                else track_index = 0;
            }
            else if (next_type == 2) {
                //track index sabit kalır
            }
            listen_index++;
            loadTrack(track_index);
            setNukte();
            setImage();
            playTrack();
        }
        function mixTrack() {
            //0 karışık, 1 sıra ile, 2 tekrarlı
            if (next_type == 0) {
                next_type = 1;
                $('#random').html('<i class="fa-solid fa-arrow-down-wide-short"></i>');
            }
            else if (next_type == 1) {
                next_type = 2;
                $('#random').html('<i class="fa-solid fa-arrows-rotate"></i>');
            }
            else if (next_type == 2) {
                next_type = 0;
                $('#random').html('<i class="fa-solid fa-shuffle"></i>');
            }
            konsola_yaz("function mixTrack", "next type=" + next_type);
        }
        function loadTrack(track_indexxx) {

            curr_track.src = track_list[track_indexxx].songUrl;
            curr_track.title = track_list[track_indexxx].songName;
            curr_track.artist = track_list[track_indexxx].songPerson;
            curr_track.load();
            track_list_before.push(track_indexxx);
            track_index = track_indexxx;
            //konsola_yaz("loadTrack", ' Track Index: ' + track_index);
            $(".track-name").text(track_list[track_indexxx].songName);
            $(".track-artist").text(track_list[track_indexxx].songPerson.replace(':', ''));
            clearInterval(updateTimer);
            updateTimer = setInterval(seekUpdate, 500);

        }
        function seekTo(event) {
            let seek_background = document.querySelector(".seek_background");
            //bu satırda jquery kullnınca hata aldık

            console.log(event.clientX);
            console.log($(".seek_background").css("width").replace("px", ""));
            curr_track.currentTime = Math.floor(curr_track.duration * (100 * event.clientX / parseInt($(".seek_background").css("width").replace("px", ""))) / 100);
        }
        function setNukte() {
            $(".marquee").text(list_nukte[Math.floor(Math.random() * list_nukte.length)]); //buradaki rastgele son nukteyi de seçebiliyor list_nukte.length-1 gibi davranıyor
        }
        function setImage() {
            //var adres1 = "https://raw.githubusercontent.com/emreaksel/askatesi/main/img/";
            //var adres = adres1 + list_images[Math.floor(Math.random() * list_images.length)];
            $(".resim-sever").css("background-image", "url('" + list_images[Math.floor(Math.random() * list_images.length)] + "')");
            $(".resim-sever").css("background-repeat", "no-repeat");
            $(".resim-sever").css("background-size", "cover");
            $(".resim-sever").css("background-position", "center center");
            $(".resim-sever").css("border-radius", "5px");
            $(".resim-sever").css("height", "100%");
            $(".resim-sever").css("width", "100%");
        }
        function setListview() {
            track_list = track_list.reverse();
            $.each(track_list, function (index) {

                var trackNumber = (index + 1);

                $('ul#plList').append(`<li> \
                    <div class="plItem"> \
                        <span class="plNum">${trackNumber}.</span> \
                        <span class="plTitle">${track_list[index].songName}</span> \
                        <span class="plLength">${track_list[index].songPerson} </span> \
                    </div> \
                </li>`);
            });
            $('ul li').click(function () {
                $("#ilkalan").show();
                loadTrack($(this).index());
                //loadTrack(index);
                playTrack();

            });
        }
        function seekUpdate() {
            var seekPosition = 0;
            let curr_time = document.querySelector(".current-time");
            let total_duration = document.querySelector(".total-duration");
            let seek = document.querySelector(".seek");

            if (!isNaN(curr_track.duration)) {
                seekPosition = curr_track.currentTime * (100 / curr_track.duration);

                //$('.seek').css("width") = seekPosition + "%";
                seek.style.width = seekPosition + "%";
                //$('.seek').stop(true, true).animate({ 'width': (curr_track.currentTime + .25) / curr_track.duration * 100 + '%' }, 250, 'linear');

                var currentMinutes = Math.floor(curr_track.currentTime / 60);
                var currentSeconds = Math.floor(curr_track.currentTime - currentMinutes * 60);
                var durationMinutes = Math.floor(curr_track.duration / 60);
                var durationSeconds = Math.floor(curr_track.duration - durationMinutes * 60);

                if (currentSeconds < 10) { currentSeconds = "0" + currentSeconds; }
                if (durationSeconds < 10) { durationSeconds = "0" + durationSeconds; }
                if (currentMinutes < 10) { currentMinutes = "0" + currentMinutes; }
                if (durationMinutes < 10) { durationMinutes = "0" + durationMinutes; }

                curr_time.textContent = currentMinutes + ":" + currentSeconds;
                total_duration.textContent = durationMinutes + ":" + durationSeconds;
            }
        }
        function resetValues() {
            curr_time.textContent = "00:00";
            total_duration.textContent = "00:00";
            $(".seek_slider").value = 0;
        }
        function ilk_parcayi_ayarlar() {
            //let parselle="https://www.mediafire.com/file/wame8e6p9gwuqu6/mededya.mp3";
            var parselle = window.location.href;//https://www.mediafire.com/file/wame8e6p9gwuqu6/mededya
            if (parselle.includes("?")) {
                console.log("paylaşılan bir parça okundu: " + "true");
                parselle = parselle.replace('https://atesiask.netlify.app/?', '');

                var bilgi = parselle.split("&"); //catid=9&trackid=650
                var id = bilgi[1].replace("trackid=", "");
                var din = bilgi[0].replace("catid=", "");
                //var url="https://www.mediafire.com/"+parselle+".mp3";

                console.log("dinleme listesi: " + din);
                console.log("parça id: " + id);
                loadTrack(track_list.length - id - 1);
            } else {
                track_index = Math.floor(Math.random() * track_list.length);
                loadTrack(track_index);
                //console.log("ilk parça: " + track_list[track_index].name);
            }
            listen_index++;

        }
        function konsola_yaz(tanım, aciklama = "") {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;
            console.log(" Log " + time + " --> " + tanım + " --> " + aciklama);
        }
        function hazirliklar() {
            setListview();
            setImage();
            setNukte();
            ilk_parcayi_ayarlar();
        }
        // konsola_yaz("adres", ': ' + window.location.href);
        //----------------------
        //==============================================================================================

        hazirliklar();
    //==============================================================================================
    </script>
</body>

</html>
